* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

%center_things {
    display: flex;
    align-items: center;
    justify-content: center;
}

%button_things {
    border-radius: 5px;
    background-color: #C9453B;
    color: #fff;
    padding: 12px 30px;
    border: none;
}

%h1_things {
    color: #000;
    font-family: Gelasio;
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    /* 60.2px */
}

%p_things {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin: 20px 0px;
    /* 28.8px */
}

nav {
    padding: 12px;
    width: 100%;
    position: fixed;
}

nav span {
    width: 1174px;
    margin: auto;
    color: #fff;
    @extend %center_things;

}

nav ul {
    font-size: 18px;
    @extend %center_things;
    gap: 20px;
    list-style: none;
}

nav img {
    margin-right: auto;
}

nav button {
    @extend %button_things;
    margin-left: auto;
}

#main1 .parent {
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    height: 100%;
    @extend %center_things;
    justify-content: space-evenly;

}

#main1 span {
    width: 1174px;
    margin: auto;
}

#main1 .child {
    width: 700px
}

#main1 h1 {
    color: #FFF;
    font-family: Gelasio;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

#main1 p {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding: 20px 0px;
    /* 28.8px */
}

#main1 button {
    @extend %button_things;
}



#main2 .container {
    text-align: center;
    height: 100vh;
    margin: 10% 0px;
}

#main2 .parent {
    @extend %center_things;
    gap: 30px;
    width: 1174px;
    margin: auto;
}

#main2 .child {
    width: calc(100% / 3);
    border: 1px solid rgb(228, 224, 224);
    border-radius: 10px;
    box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.08);
}

#main2 h1 {
    @extend %h1_things;
}

#main2 p {
    @extend %p_things;
}

#main2 img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#main2 span {
    padding: 0px 20px;
}

#main2 .child p {
    opacity: 0.6;
}



#main3 .parent {
    @extend %center_things;
    gap: 20px;
    width: 100%;
}

#main3 .child {
    width: calc(100% / 5);
}

#main3 img {
    width: 100%;
}

#main3 .child h3 {
    color: #000;
    font-family: Gelasio;
    font-size: 24px;
    font-style: normal;
    font-weight: 550;
    line-height: 150%;
    /* 36px */
}

#main3 .child h4 {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
    text-align: left;
    margin: 0;
    /* 30px */
}

#main3 .child span {
    font-weight: 600;
}

#main3 h1 {
    @extend %h1_things;
}

#main3 p {
    @extend %p_things;
}



#main4 h1 {
    @extend %h1_things;
}

#main4 p {
    @extend %p_things;
}

#main4 .container {
    margin: 10% 0px;
}

#main4 .wrapper {
    @extend %center_things;
    align-items: start;
    width: 1174px;
    margin: auto;
}

#main4 .parent {
    width: calc(100% / 2);
}

#main4 .child {
    width: 100%;
    text-align: left;
}

#main4 .p_1 .child {
    padding: 10px;

}

#main4 img {
    width: 100%;
}

#main4 .box {
    width: 50%;
    padding: 10px;

}

#main4 .parent p {
    text-align: left;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 28.8px */
}

#main4 .parent h2,
#main4 .parent h3 {
    color: #000;
    font-family: Gelasio;
    font-size: 20px;
    font-style: normal;
    font-weight: 550;
    line-height: 150%;
    /* 30px */
}

#main4 .p_2 .child {
    @extend %center_things
}



footer{
    background-color: #2694990A;
    padding: 30px 0px;
}
footer h1 {
    color: #000;
    font-family: Ribeye;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 12px 0px;
    /* 36px */
    letter-spacing: 1.44px;
}

footer .parent {
    width: 1174px;
    margin: auto;
    @extend %center_things;
}

footer .child {
    width: calc(100% / 4);
    margin: auto;
    height: 100px;
}

footer ul {
    list-style: none;
    line-height: 2em;
}
footer span{
    display: flex;
    gap: 20px;
}
footer input{
    padding: 10px 20px;
}
footer button{
    @extend %button_things;
}