* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

footer .parent, #main4 .p_2 .child, #main4 .wrapper, #main3 .parent, #main2 .parent, #main1 .container .header, nav ul, nav span {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer button, #main1 .container .header_subtitle button, #main1 .container .header button, nav button {
  border-radius: 5px;
  background-color: #C9453B;
  color: #fff;
  padding: 12px 30px;
  border: none;
}

#main4 h1, #main3 h1, #main2 h1 {
  color: #000;
  font-family: Gelasio;
  font-size: 43px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  /* 60.2px */
}

#main4 p, #main3 p, #main2 p {
  color: #000;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 20px 15px;
  /* 28.8px */
}

nav {
  padding: 12px;
  width: 100%;
  background-color: #000;
}

nav .bar {
  text-align: right;
  display: none;
}

nav span {
  width: 90%;
  margin: auto;
  color: #fff;
}

nav ul {
  font-size: 18px;
  gap: 20px;
  list-style: none;
}

nav img {
  margin-right: auto;
}

nav button {
  margin-left: auto;
}

#main1 .container {
  background-image: url("../images/main_bg1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 100vh;
  padding: 20px 200px;
  color: white;
}
#main1 .container .header {
  justify-content: space-between;
}
#main1 .container .header ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
#main1 .container .header_subtitle {
  margin-top: 13%;
}
#main1 .container .header_subtitle .header_h1 {
  max-width: 804px;
  font-size: 48px;
  font-weight: 700;
  line-height: 78px;
}
#main1 .container .header_subtitle .header_p {
  max-width: 458px;
  opacity: 0.6;
  margin: 20px 0px;
}
#main2 .container {
  text-align: center;
  margin: 10% 0px;
}

#main2 .parent {
  gap: 30px;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

#main2 .child {
  width: 360px;
  border: 1px solid rgb(228, 224, 224);
  border-radius: 10px;
  box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.08);
}

#main2 img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#main2 span {
  padding: 0px 20px;
}

#main2 .child p {
  opacity: 0.6;
}

#main3 .parent {
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

#main3 .child {
  width: 250px;
}

#main3 img {
  width: 100%;
}

#main3 .child h3 {
  color: #000;
  font-family: Gelasio;
  font-size: 24px;
  font-style: normal;
  font-weight: 550;
  /* 36px */
}

#main3 .child h4 {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  margin: 0;
  /* 30px */
}

#main3 .child span {
  font-weight: 600;
}

#main4 .container {
  margin: 10% 0px;
}

#main4 .wrapper {
  align-items: start;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

#main4 .parent {
  width: 600px;
}

#main4 .child {
  width: 100%;
  text-align: left;
}

#main4 .p_1 .child {
  padding: 10px;
}

#main4 img {
  width: 100%;
}

#main4 .box {
  width: 50%;
  padding: 10px;
}

#main4 .parent p {
  text-align: left;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 28.8px */
}

#main4 .parent h2,
#main4 .parent h3 {
  color: #000;
  font-family: Gelasio;
  font-size: 20px;
  font-style: normal;
  font-weight: 550;
  line-height: 150%;
  /* 30px */
}

#main4 .p_2 .child {
  flex-wrap: wrap;
  margin: 5px auto;
}

footer {
  background-color: rgba(38, 148, 153, 0.0392156863);
  padding: 30px 0px;
}

footer h1 {
  color: #000;
  font-family: Ribeye;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin: 12px 0px;
  /* 36px */
  letter-spacing: 1.44px;
}

footer .parent {
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
}

footer .child {
  width: 200px;
  margin: auto;
  height: 200px;
}

footer ul {
  list-style: none;
  line-height: 2em;
}

footer span {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

footer input {
  padding: 10px 6%;
}

@media (min-width: 990px) and (max-width: 1200px) {
  #main1 .container {
    padding: 20px 50px;
  }
}
@media (min-width: 770px) and (max-width: 989px) {
  #main1 .container {
    padding: 20px 30px;
  }
  #main1 .container .header_subtitle .header_h1 {
    font-size: 30px;
    line-height: 50px;
  }
}
@media (min-width: 447px) and (max-width: 769px) {
  #main1 .container {
    padding: 20px 30px;
  }
  #main1 .container .header ul {
    display: none;
  }
  #main1 .container .header_subtitle .header_h1 {
    font-size: 30px;
    line-height: 50px;
  }
}
@media (max-width: 446px) {
  #main1 .container {
    padding: 20px 30px;
  }
  #main1 .container .header ul {
    display: none;
  }
  #main1 .container .header button {
    display: none;
  }
  #main1 .container .header_subtitle {
    margin-top: 20%;
  }
  #main1 .container .header_subtitle .header_h1 {
    font-size: 30px;
    line-height: 50px;
  }
}/*# sourceMappingURL=style.css.map */